In [11]:
# Construida sobre Numpy
# Permite manipular gran cantidad de datos de fuentes heterogeneas (Big Data)

import pandas as pd
info_pais = {"pais":["Brasil","Mexico","Espana","Peru","Colombia","Venezuela"],
             "capital":["Brasisila","Ciudad de Mexico","Madrid","Lima","Bogota","Caracas"],
             "superficie (Mkm2)":[8.5,1.9,1.2,0.5,1.1,0.9]}

df = pd.DataFrame(info_pais)
df

        pais           capital  superficie (Mkm2)
0     Brasil         Brasisila                8.5
1     Mexico  Ciudad de Mexico                1.9
2     Espana            Madrid                1.2
3       Peru              Lima                0.5
4   Colombia            Bogota                1.1
5  Venezuela           Caracas                0.9

In [21]:
# Importar de un CSV
# df = pd.read_csv(r"file.csv", delimiter=";", encoding = "ISO-8859-1", index_col=0, nrows=5, header = None) 
df = pd.read_csv(r"PEATONES_2020.csv", delimiter=";", encoding = "ISO-8859-1", nrows=5, index_col="IDENTIFICADOR")
df

,FECHA,HORA,PEATONES,NÚMERO_DISTRITO,DISTRITO,NOMBRE_VIAL,NÚMERO,CÓDIGO_POSTAL,OBSERVACIONES_DIRECCION,LATITUD,LONGITUD
IDENTIFICADOR,,,,,,,,,,,
PERM_PEA02_PM01,01/01/2020,0:00:00,497,1,Centro,Calle Fuencarral,22,28004,Calle peatonal Datos en prueba,"40,4220090","-3,7008917"
PERM_PEA02_PM01,01/01/2020,0:15:00,244,1,Centro,Calle Fuencarral,22,28004,Calle peatonal Datos en prueba,"40,4220090","-3,7008917"
PERM_PEA02_PM01,01/01/2020,0:30:00,179,1,Centro,Calle Fuencarral,22,28004,Calle peatonal Datos en prueba,"40,4220090","-3,7008917"
PERM_PEA02_PM01,01/01/2020,0:45:00,174,1,Centro,Calle Fuencarral,22,28004,Calle peatonal Datos en prueba,"40,4220090","-3,7008917"
PERM_PEA02_PM01,01/01/2020,1:00:00,131,1,Centro,Calle Fuencarral,22,28004,Calle peatonal Datos en prueba,"40,4220090","-3,7008917"

In [23]:
df.head()

,FECHA,HORA,PEATONES,NÚMERO_DISTRITO,DISTRITO,NOMBRE_VIAL,NÚMERO,CÓDIGO_POSTAL,OBSERVACIONES_DIRECCION,LATITUD,LONGITUD
IDENTIFICADOR,,,,,,,,,,,
PERM_PEA02_PM01,01/01/2020,0:00:00,497,1,Centro,Calle Fuencarral,22,28004,Calle peatonal Datos en prueba,"40,4220090","-3,7008917"
PERM_PEA02_PM01,01/01/2020,0:15:00,244,1,Centro,Calle Fuencarral,22,28004,Calle peatonal Datos en prueba,"40,4220090","-3,7008917"
PERM_PEA02_PM01,01/01/2020,0:30:00,179,1,Centro,Calle Fuencarral,22,28004,Calle peatonal Datos en prueba,"40,4220090","-3,7008917"
PERM_PEA02_PM01,01/01/2020,0:45:00,174,1,Centro,Calle Fuencarral,22,28004,Calle peatonal Datos en prueba,"40,4220090","-3,7008917"
PERM_PEA02_PM01,01/01/2020,1:00:00,131,1,Centro,Calle Fuencarral,22,28004,Calle peatonal Datos en prueba,"40,4220090","-3,7008917"

In [41]:
df.groupby("NOMBRE_VIAL")
df.head(10)
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, PERM_PEA02_PM01 to PERM_PEA02_PM01
Data columns (total 11 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   FECHA                    5 non-null      object
 1   HORA                     5 non-null      object
 2   PEATONES                 5 non-null      int64
 3   NÚMERO_DISTRITO          5 non-null      int64
 4   DISTRITO                 5 non-null      object
 5   NOMBRE_VIAL              5 non-null      object
 6   NÚMERO                   5 non-null      int64
 7   CÓDIGO_POSTAL            5 non-null      int64
 8   OBSERVACIONES_DIRECCION  5 non-null      object
 9   LATITUD                  5 non-null      object
 10  LONGITUD                 5 non-null      object
dtypes: int64(4), object(7)
memory usage: 652.0+ bytes

In [51]:
info_pais = {"pais":["Brasil","Mexico","Espana","Peru","Colombia","Venezuela"],
             "capital":["Brasisila","Ciudad de Mexico","Madrid","Lima","Bogota","Caracas"],
             "superficie (Mkm2)":[8.5,1.9,1.2,0.5,1.1,0.9]}

df = pd.DataFrame(info_pais)
df["capital"]

0           Brasisila
1    Ciudad de Mexico
2              Madrid
3                Lima
4              Bogota
5             Caracas
Name: capital, dtype: object

In [53]:
df[["capital","superficie (Mkm2)"]]

            capital  superficie (Mkm2)
0         Brasisila                8.5
1  Ciudad de Mexico                1.9
2            Madrid                1.2
3              Lima                0.5
4            Bogota                1.1
5           Caracas                0.9

In [55]:
df[2:5]

       pais capital  superficie (Mkm2)
2    Espana  Madrid                1.2
3      Peru    Lima                0.5
4  Colombia  Bogota                1.1

In [57]:
df[["capital","superficie (Mkm2)"],2:5]

InvalidIndexError: (['capital', 'superficie (Mkm2)'], slice(2, 5, None))

In [63]:
# Loc (Basada en las etiquetas) / iLoc (Basada en indices de posicion)
# Loc - df.loc["lista_nombre_filas","lista_nombre_columnas"]
df.loc[[0,1,2],['capital','superficie (Mkm2)']]

# Para seleccionar todos los datos podemos indicar :

            capital  superficie (Mkm2)
0         Brasisila                8.5
1  Ciudad de Mexico                1.9
2            Madrid                1.2